Src/Dev/Ver.2.0/BB/MADA.DatePercent.BB/MADA.DatePercent.BB.NLB.WS/Web References/NLBWS.info.datepercent.www/NLBWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.datepercent.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.datepercent.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.datepercent.com/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_strSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_strFBUid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocaleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="SessionInitSoapIn">
    <wsdl:part name="parameters" element="tns:SessionInit" />
  </wsdl:message>
  <wsdl:message name="SessionInitSoapOut">
    <wsdl:part name="parameters" element="tns:SessionInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocaleSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocale" />
  </wsdl:message>
  <wsdl:message name="GetLocaleSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocaleResponse" />
  </wsdl:message>
  <wsdl:portType name="NLBWSSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionInit">
      <wsdl:input message="tns:SessionInitSoapIn" />
      <wsdl:output message="tns:SessionInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocale">
      <wsdl:input message="tns:GetLocaleSoapIn" />
      <wsdl:output message="tns:GetLocaleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NLBWSSoap" type="tns:NLBWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.datepercent.com/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionInit">
      <soap:operation soapAction="http://www.datepercent.com/SessionInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocale">
      <soap:operation soapAction="http://www.datepercent.com/GetLocale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NLBWSSoap12" type="tns:NLBWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.datepercent.com/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionInit">
      <soap12:operation soapAction="http://www.datepercent.com/SessionInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocale">
      <soap12:operation soapAction="http://www.datepercent.com/GetLocale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NLBWS">
    <wsdl:port name="NLBWSSoap" binding="tns:NLBWSSoap">
      <soap:address location="http://www.datepercent.info/WS/NLBWS.asmx" />
    </wsdl:port>
    <wsdl:port name="NLBWSSoap12" binding="tns:NLBWSSoap12">
      <soap12:address location="http://www.datepercent.info/WS/NLBWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>