Src/Dev/Ver.2.0/SMTP/MADA.DatePercent.SMTP/MADA.DatePercent.SMTP.WinApp/Web References/com.dp68457.www/SmtpWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Compose">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_strSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strEML_SENDER_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strEML_GETTER_EMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strEML_GETTER_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strEML_SUBJECT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strEML_BODY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComposeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComposeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ComposeSoapIn">
    <wsdl:part name="parameters" element="tns:Compose" />
  </wsdl:message>
  <wsdl:message name="ComposeSoapOut">
    <wsdl:part name="parameters" element="tns:ComposeResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="SmtpWSSoap">
    <wsdl:operation name="Compose">
      <wsdl:input message="tns:ComposeSoapIn" />
      <wsdl:output message="tns:ComposeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmtpWSSoap" type="tns:SmtpWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Compose">
      <soap:operation soapAction="http://tempuri.org/Compose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmtpWSSoap12" type="tns:SmtpWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Compose">
      <soap12:operation soapAction="http://tempuri.org/Compose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmtpWS">
    <wsdl:port name="SmtpWSSoap" binding="tns:SmtpWSSoap">
      <soap:address location="http://www.dp68457.com/SmtpWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SmtpWSSoap12" binding="tns:SmtpWSSoap12">
      <soap12:address location="http://www.dp68457.com/SmtpWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>