Src/Dev/Ver.2.0/BL/MADA.ContactFetcher/Web References/com.stescodes.www/stescodescontactgrabber.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GrabContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servicename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabContactsResult" type="tns:ArrayOfContactdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactdetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="contactdetails" nillable="true" type="tns:contactdetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="contactdetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="unused">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unusedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unusedResult" type="tns:ArrayOfUnuseddetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUnuseddetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="unuseddetails" nillable="true" type="tns:unuseddetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="unuseddetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="servicename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GrabContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GrabContacts" />
  </wsdl:message>
  <wsdl:message name="GrabContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GrabContactsResponse" />
  </wsdl:message>
  <wsdl:message name="unusedSoapIn">
    <wsdl:part name="parameters" element="tns:unused" />
  </wsdl:message>
  <wsdl:message name="unusedSoapOut">
    <wsdl:part name="parameters" element="tns:unusedResponse" />
  </wsdl:message>
  <wsdl:portType name="stescodescontactgrabberSoap">
    <wsdl:operation name="GrabContacts">
      <wsdl:input message="tns:GrabContactsSoapIn" />
      <wsdl:output message="tns:GrabContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="unused">
      <wsdl:input message="tns:unusedSoapIn" />
      <wsdl:output message="tns:unusedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="stescodescontactgrabberSoap" type="tns:stescodescontactgrabberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GrabContacts">
      <soap:operation soapAction="http://tempuri.org/GrabContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unused">
      <soap:operation soapAction="http://tempuri.org/unused" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="stescodescontactgrabberSoap12" type="tns:stescodescontactgrabberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GrabContacts">
      <soap12:operation soapAction="http://tempuri.org/GrabContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unused">
      <soap12:operation soapAction="http://tempuri.org/unused" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="stescodescontactgrabber">
    <wsdl:port name="stescodescontactgrabberSoap" binding="tns:stescodescontactgrabberSoap">
      <soap:address location="http://www.stescodes.com/stescodescontactgrabber.asmx" />
    </wsdl:port>
    <wsdl:port name="stescodescontactgrabberSoap12" binding="tns:stescodescontactgrabberSoap12">
      <soap12:address location="http://www.stescodes.com/stescodescontactgrabber.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>